body {
    margin: 0;
    text-align: center;
}

.top {
    background-color: #222831;
    padding: 200px 0 0 0;
    position: relative;
}

.middle {
    background-color: #EEEEEE;
}

.bottom {
    background-color: #00ADB5;
    border: 10px solid #222831;
    border-radius: 5px;
}

.card {
    box-shadow: 0 4px 8px 0 rbga(0,0,0,0.2);
    transition: 0.5s;
    border-radius: 10px;
    background-color: #EEEEEE;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

/* images */
.HS {
    border-radius: 50%;
}

.UGA {
    width: 20%;
    position: absolute;
    top: 30px;
    right: 200px;
}

.dawg {
    width: 12%;
    position: absolute;
    bottom: 120px;
    left: 200px;
    border-radius: 45%;
}

.java {
    width: 72%;
    border-radius: 75%;
}

.CFA {
    width: 25%;
    border-radius: 75%;
}

.coding {
    width: 75%;
    border-radius: 25%;
}

.GIT-button {
    background-color: #221831;
    padding: 8px 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

/* headings and links */
h1 {
    font-family: 'Oxygen', sans-serif;
    color: #00ADB5;
    font-size: rem;
}

h2 {
    font-family: 'Questrial', sans-serif;
    color: #EEEEEE;
    font-size: rem;
}

h3 {
    font-family: 'Barlow Condensed', sans-serif;
    color: #00ADB5;
    font-size: rem;
}

a {
    color: #00ad85;
    text-decoration: none;
}

a:hover {
    background-color: #222831;
    cursor: pointer;
}

/* two column layout */
.row {
    width: 50%;
    margin: 100px auto;
}

.column {
    display: inline-block;
}

.left {
    float: left;
    width: 35%;
}

.right {
    width: 65%;
}

.heading {
    height: 50px;
}

/* hr */
hr {
    height: 12px;
    border: 0;
    border-radius: 5px;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}
